<section class="courses padding-120">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="course-item">
              <div class="image">
                <img src="../../assets/images/courses/course_02.jpg" alt="course image" class="img-responsive">
                <span><sup>$</sup>200</span>
              </div>
              <div class="content">
                <h4><a routerLink="/coursesdetails">Uficiently Dsenate Colabor</a></h4>
                <ul>
                  <li><span><i class="fa fa-user" aria-hidden="true"></i></span> <a href="#">Robot Smith</a></li>
                  <li>|</li>
                  <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span> <a href="#">24 April 2017 </a></li>
                </ul>
                <p>Aolaboraively eenable vira niche markets Compelngly evsculate funcnal mndshare through forand goaloriented</p>
                <div class="bottom">
                  <ul>
                    <li><span><i class="fa fa-users" aria-hidden="true"></i></span> <a href="#">730</a></li>
                    <li><span><i class="fa fa-comment" aria-hidden="true"></i></span> <a href="#">350</a></li>
                  </ul>
                  <div class="course-rating">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div><!-- content -->
            </div><!-- course item -->
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="course-item">
              <div class="image">
                <img src="../../assets/images/courses/course_03.jpg" alt="course image" class="img-responsive">
                <span>Free</span>
              </div>
              <div class="content">
                <h4><a routerLink="courses-details">Awesome Solutions a Study</a></h4>
                <ul>
                  <li><span><i class="fa fa-user" aria-hidden="true"></i></span> <a href="#">Robot Smith</a></li>
                  <li>|</li>
                  <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span> <a href="#">24 April 2017 </a></li>
                </ul>
                <p>Aolaboraively eenable vira niche markets Compelngly evsculate funcnal mndshare through forand goaloriented</p>
                <div class="bottom">
                  <ul>
                    <li><span><i class="fa fa-users" aria-hidden="true"></i></span> <a href="#">730</a></li>
                    <li><span><i class="fa fa-comment" aria-hidden="true"></i></span> <a href="#">350</a></li>
                  </ul>
                  <div class="course-rating">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div><!-- content -->
            </div><!-- course item -->
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="course-item">
              <div class="image">
                <img src="../../assets/images/courses/course_04.jpg" alt="course image" class="img-responsive">
                <span><sup>$</sup>550</span>
              </div>
              <div class="content">
                <h4><a href="course-single.html">Disenatre Are Colaborative</a></h4>
                <ul>
                  <li><span><i class="fa fa-user" aria-hidden="true"></i></span> <a href="#">Robot Smith</a></li>
                  <li>|</li>
                  <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span> <a href="#">24 April 2017 </a></li>
                </ul>
                <p>Aolaboraively eenable vira niche markets Compelngly evsculate funcnal mndshare through forand goaloriented</p>
                <div class="bottom">
                  <ul>
                    <li><span><i class="fa fa-users" aria-hidden="true"></i></span> <a href="#">730</a></li>
                    <li><span><i class="fa fa-comment" aria-hidden="true"></i></span> <a href="#">350</a></li>
                  </ul>
                  <div class="course-rating">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div><!-- content -->
            </div><!-- course item -->
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="course-item">
              <div class="image">
                <img src="../../assets/images/courses/course_05.jpg" alt="course image" class="img-responsive">
                <span><sup>$</sup>500</span>
              </div>
              <div class="content">
                <h4><a href="course-single.html">Uficiently Dsenate Colabor</a></h4>
                <ul>
                  <li><span><i class="fa fa-user" aria-hidden="true"></i></span> <a href="#">Robot Smith</a></li>
                  <li>|</li>
                  <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span> <a href="#">24 April 2017 </a></li>
                </ul>
                <p>Aolaboraively eenable vira niche markets Compelngly evsculate funcnal mndshare through forand goaloriented</p>
                <div class="bottom">
                  <ul>
                    <li><span><i class="fa fa-users" aria-hidden="true"></i></span> <a href="#">730</a></li>
                    <li><span><i class="fa fa-comment" aria-hidden="true"></i></span> <a href="#">350</a></li>
                  </ul>
                  <div class="course-rating">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div><!-- content -->
            </div><!-- course item -->
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="course-item">
              <div class="image">
                <img src="../../assets/images/courses/course_07.jpg" alt="course image" class="img-responsive">
                <span><sup>$</sup>250</span>
              </div>
              <div class="content">
                <h4><a href="course-single.html">Awesome Solutions a Study</a></h4>
                <ul>
                  <li><span><i class="fa fa-user" aria-hidden="true"></i></span> <a href="#">Robot Smith</a></li>
                  <li>|</li>
                  <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span> <a href="#">24 April 2017 </a></li>
                </ul>
                <p>Aolaboraively eenable vira niche markets Compelngly evsculate funcnal mndshare through forand goaloriented</p>
                <div class="bottom">
                  <ul>
                    <li><span><i class="fa fa-users" aria-hidden="true"></i></span> <a href="#">730</a></li>
                    <li><span><i class="fa fa-comment" aria-hidden="true"></i></span> <a href="#">350</a></li>
                  </ul>
                  <div class="course-rating">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div><!-- content -->
            </div><!-- course item -->
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="course-item">
              <div class="image">
                <img src="../../assets/images/courses/course_06.jpg" alt="course image" class="img-responsive">
                <span><sup>$</sup>700</span>
              </div>
              <div class="content">
                <h4><a href="course-single.html">Disenatre Are Colaborative</a></h4>
                <ul>
                  <li><span><i class="fa fa-user" aria-hidden="true"></i></span> <a href="#">Robot Smith</a></li>
                  <li>|</li>
                  <li><span><i class="fa fa-calendar" aria-hidden="true"></i></span> <a href="#">24 April 2017 </a></li>
                </ul>
                <p>Aolaboraively eenable vira niche markets Compelngly evsculate funcnal mndshare through forand goaloriented</p>
                <div class="bottom">
                  <ul>
                    <li><span><i class="fa fa-users" aria-hidden="true"></i></span> <a href="#">730</a></li>
                    <li><span><i class="fa fa-comment" aria-hidden="true"></i></span> <a href="#">350</a></li>
                  </ul>
                  <div class="course-rating">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div><!-- content -->
            </div><!-- course item -->
          </div>
          </div>
          
          <div class="courses-button">
            <ul class="pagination">
              <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
              <li><a href="#" class="active">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
            </ul>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="sidebar">
      <div class="sidebar-item">
        <h3 class="sidebar-title">Search Coures</h3>

        <form>
          <input type="text" name="text" placeholder="Search Your Catagorie...">
          <select>
            <option>Select Categories</option>
            <option>Adobe Photoshop</option>
            <option>Adobe illustrator</option>
            <option>JavaScript</option>
            <option>PHP</option>
            <option>HTML5</option>
            <option>CSS3</option>
            <option>WordPress</option>
            <option>Joomla</option>
            <option>Ruby</option>
            <option>JQuery</option>
          </select>
          <button>Search Now</button>
        </form>
      </div><!-- sidebar item -->
      