  	<!-- Courses Start here -->
  	<section class="courses padding-120">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-8 col-sm-12 col-xs-12">
  					<div class="course-single-item">
  						<div class="image">
  							<img src="../../assets/images/courses/course_02.jpg" alt="course image" class="img-responsive">
  						</div>
  						<h3>Amazone Affiliate, Adsense & Content Development</h3>
						<ul class="course-meta">
							<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Robot Smith</a></li>
							<li><i class="fa fa-calendar" aria-hidden="true"></i><a href="#">24 April 2017 </a></li>
							<li><i class="fa fa-comments" aria-hidden="true"></i><a href="#">350 Comments </a></li>
							<li class="rating">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							 	<span>(12Reviews) </span>
							</li>
						</ul>

						<h4>The Courses Description:</h4>
						<p>Progressively promote highly efficient leadership skill with plugand creative educatonplay alignment Distinctively strategize marketdriven architectures vis a avis professional collaboration and ideashai Rapidiously enhance an expanded array of supply chains for real-time services. Uniquely visualize an user Progressively promote highly efficient leadership skills with plugand creative educationplay and alignment Distinctively strategize marketdriven architectures vis avis professional collaboration and ideashaing Rapidiously enhance an expanded array of supply chains for real-time services. Uniquely visualize user.</p>
						<p>Progressively promote highly efficient leadership skills with plugand creative education alignments Distinctively strategize marketdriven architectures vis a avis professional collaborations ideashaing Rapidiously enhance an expanded array of supply chains for a real-time services. Uniquely visualize user friendly strategic theme areas friendly strategic theme areas.</p>

						<div class="row">
							<div class="col-md-5 col-sm-5 col-xs-12">
								<ul class="course-features">
									<li class="title">Course Features</li>
									<li><i class="fa fa-calendar" aria-hidden="true"></i> Course Durations <span>12 Month</span></li>
									<li><i class="fa fa-user" aria-hidden="true"></i> No of Lectures <span>20</span></li>
									<li><i class="fa fa-graduation-cap" aria-hidden="true"></i> Certification <span>Yes</span></li>
									<li><i class="fa fa-users" aria-hidden="true"></i> Students <span>1200</span></li>
									<li><i class="fa fa-line-chart" aria-hidden="true"></i> Study Skill Level <span>Beginner</span></li>
									<li><i class="fa fa-dollar" aria-hidden="true"></i> Fee <span>250.00</span></li>
								</ul>
							</div>
							<div class="col-md-7 col-sm-7 col-xs-12">
								<h4>Certification:</h4>
								<p>Progressively promote highly efficient and a leadership Distinctively strategize marketdriven thar architectures Rapidiously enhance an expanded array crean of supply Progressively promote highly efficient aweso leadership Distinctively strategize marketdriven are architecetures Rapidiously enhance an expanded array of are an supply </p>
								<p>Progressively promote highly efficient leadership a skills Distinctively strategize marketdriven architectures vis a Rapidiously enhance an expanded array of supply chains friendly strategic theme areas friendly strategic thareas awesome education theme.</p>
							</div>
						</div><!-- row -->
